= form_for @doctor do |f|
  - if @doctor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doctor.errors.count, "error")} prohibited this doctor from being saved:"
      %ul
        - @doctor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :area_id
    = collection_select(:doctor, :area_id, Area.order("name ASC").all, :id, :name_with_location,{}, prompt: true)
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :dob
    = f.date_field :dob
  .field
    = f.label :gender
    = f.select(:gender, options_for_select([['M','M'] ,['F','F'],['O','O']]))
  .field
    = f.label :speciality
    = f.select(:speciality, options_for_select([['Allergology','Allergology'],['Radiology','Radiology'],['Cardiology','Cardiology'],['General Medicine','General Medicine'],['Gerontology','Gerontology'],['Obstetrics','Obstetrics'],['Pediatrics','Pediatrics'],['Traumatology','Traumatology']]))
  .field
    = f.label :yearsexperience
    = f.number_field :yearsexperience
  .field
    = f.label :salary
    = f.number_field :salary
  .actions
    = f.submit 'Save'
